<script type="text/html" id="image-box-template">
	<div class="content has-text-centered">
		<div class="image-container">
			<video width="540" height="540" loop autoplay>
				<source
					v-bind:src="'/gifs/generated/' + gif.image_filename + '-vid.mp4'"
								type="video/mp4"
				>
			</video>
		</div>
		<strong class="subtitle">{{ gif.title }}</strong>
		<div>
			By <a v-bind:href="'/user/' + gif.username">
			{{ gif.username }}
			</a>
			-
			Uploaded on {{ (new Date(gif.created_at)).toDateString() }}
		</div>
		<p>{{ gif.description }}</p>
		<div>
			<p>
				<a v-bind:href="'/gifs/' + gif.image_filename">Raw gif</a> - 
				<a v-bind:href="'/gifs/generated/' + gif.image_filename + '-vid.mp4'">Video</a> - 
				<a v-bind:href="'/gifs/generated/' + gif.image_filename + '-preview.png'">Preview</a>
				<br><br>
			</p>
		</div>
		<button
			v-if="!code_is_visible"
			v-on:click="show_code"
			class="button"
		>
			View code
		</button>

		<!--
			 Note the ugly tag closing design to avoid whitespace
			 before and after the code in the <pre>
		-->
		<pre
			v-if="code_is_visible"
				  class="image-code has-text-left"
		><button class="button close-image-code"
			   v-on:click="code_is_visible = !code_is_visible"
		 >Close</button
		  ><code class="language-glsl" data-manual
		   >{{ gif.code }}</code></pre>
		<!--
			 @TODO
			 <div class="links">
			 <a class="button is-outlined" v-bind:href="'/gif/'+gif.id+'/fork'">Edit</a>
			 <a class="button is-outlined" v-bind:href="'/gif/'+gif.id+'/fork'">Fork</a>
			 </div>
		-->
		<br>
	</div>
</script>
