<script type="text/html" id="image-box-template">
	<div class="content has-text-centered">
		<strong class="subtitle">{{ gif.title }}</strong>
		<div>
			By <a v-bind:href="'/user/' + gif.username">
				{{ gif.username }}
			</a>
		</div>
		<p>{{ gif.description }}</p>
		<img
			 v-if="!show_actual_gif"
			 v-on:click="show_actual_gif = true"
			 v-bind:src="'/gifs/generated/' + gif.image_filename + '-preview.png'">
		<img v-if="show_actual_gif" v-bind:src="'/gifs/' + gif.image_filename">
	</div>
</script>
