<script type="text/html" id="shader-player-template">
	<div v-bind:class="'shader-player ' + (fullscreen? 'shader-player-fullscreen' :'')">
		<div class="player-wrapper"
			 v-if="shader_player != null"
			 v-bind:style="player_size_style">
			
			<div class="fullscreen-button"
				 v-on:click="fullscreen = !fullscreen">
				<span v-if="!fullscreen">[ full screen ]</span>
				<span v-else>[ close ]</span>
				
			</div>
			<canvas class="gif-canvas"></canvas>
		</div>
		<p class="text-center" v-if="debug_info && shader_player">
			time: {{ shader_player.time.toFixed(4) }}, mouse: {{ shader_player.mouse[0].toFixed(4) }}, {{ shader_player.mouse[1].toFixed(4) }}
		</p>
	</div>
</script>
<script name="vertex-shader" type="text/plain">// Vertex Shader
 attribute vec3 position;
 varying vec2 UV;
 varying vec2 lastUV;
 varying vec3 v_position;
 uniform vec2 renderBufferRatio;
 
 void main(){
	 v_position = position;
	 UV = vec2((position.x+1.0) / 2.0, (position.y + 1.0)/2.0);
	 lastUV = UV / renderBufferRatio;
	 gl_Position = vec4(v_position.x,v_position.y, 0.0, 1.0);
 }
</script>
