<div class="content about-page">
	<section class="section">
		<h1 class="title">About ShaderGif</h1>
		
		<p>
			ShaderGif is a free and open source home for GLSL shader development.
		</p>

		<h2 class="subtitle">Why is ShaderGif better than ShaderToy</h2>
		<p>
			First let me clarify that ShaderToy is an awesome community and I highly respect the skills of the creators and site owners. I owe a lot the the things I learned to @iq (like raymarching). 
		</p>
		<p>However ShaderToy has some deep problems. It renders shaders directly in the visitor's GPU. Old laptop users and phones users have trouble browsing the site. In fact, any visitor who does not purchase an expensive graphics card is likely to experience bugs, black screens, or something else than what the shader coder was seeing when coding.
		</p>
		<p>
			Many developers would like to help ShaderToy, but it is closed source. Promised features take years to happen.
		</p>
		<p>
			ShaderGif is young and some features like VR and Soundcloud do not exist yet, but at least anybody who can code and read stackoverflow can potentially add these features if they deeply want it.
		</p>
		
		<h2 class="subtitle">What is a GLSL shader?</h2>

		<p>
			A shader is a tiny piece of code that runs in your GPU to generate all the epic visuals you see in today's games, movies, etc.
		</p>
		<p>
			<a href="https://en.wikipedia.org/wiki/OpenGL_Shading_Language">GLSL</a> (Open GL Shading Language) is a shading language that looks like <a href="https://en.wikipedia.org/wiki/C_(programming_language)">C</a> code.
			
		</p>
		
		<h2 class="subtitle">Why Gifs?</h2>
		<p>
			Instead of trying to support all graphics cards, like some other sites do (ShaderToy), ShaderGif renders gifs and preview videos.
			Gifs can be shared easily on the internet, which makes them an awesome medium. Of course, gifs have some problems (artifacts, big size), but the big size
			is compensated by the generation of video previews and the artifacts actually give gifs their beauty.
		</p>
		
		<h2 class="subtitle">How to use the editor?</h2>
		<p>
			The editor contains a preview at the left and the code at the right.<br>
			The various panels at the left can be collapsed by clicking on the blue title bar.<br>
			To create gifs, there is a "+ Create gif" button. Be patient, since this process takes some times.<br>
			<br>
			I frequently start from the "circle.glsl" example and build up from there:<br><br>
			<a class="button" href="/editor/examples">
				<img class="feather-icon" src="/icons/feather/clipboard.svg">
				Start with sample code
			</a>
		</p>

		<h2 class="subtitle">What are some of your nice features?</h2>
		<p>
			<ul>
				<li>Texture uploads</li>
				<li>Private drafts</li>
				<li>Shaders are backed up to localStorage (useful when you crash your browser/tab)</li>
				<li>Comments and notifications</li>
				<li>Download all frames in zip (Hundreds of frames do work, unlike with gifs) to create videos with external software</li>
			</ul>
		</p>

		<h2>LocalStorage Backup</h2>
		<p>When you hit CTRL+R in the editor (/editor/ or /shader-editor/), you don't lose the code,<br> unless you where browsing an URL like /editor/316/edit.
			<br>
			Be careful in this case because the original shader will be loaded.
			<br>
			
			This means you can leave your work in progress in the editor and it should be there when you come back,<br> but when you try another shader's code, it gets overridden.
			<br>
			To back up your shaders a bit more safely, use the "draft" saving feature.
		</p>
		<h2 class="subtitle">How to upload a gif?</h2>
		<p>
			First you need to <a href="/users/sign_up">register</a>.
			<br>
			Then, in the shader editor, click the "Create gif" button.
			<br>
			The encoding will take a few seconds.
			<br>
			Once it's ready, the gif will appear at
			the bottom of the page.
			<br>
			If you wish, you can add a title and post it.
			It will be shown on the front page.
			<br>
			The uploading will take a few seconds, it's normal. (
			The server is rendering a video preview of the gif for the
			homepage)
			
		</p>

		<h2 class="subtitle">What is the history of shadergif?</h2>
		<p>
			<ul>
				<li>In the beginning, it was just a static html tool to build gifs from shaders for at least 1 year.</li>
				<li>Then, in november 2017, I started a rails application to create a front page, comments, drafts, etc.</li>
				<li>As of October 2018, there are 2 posting users (Me: <a href="https://shadergif.com/user/antoineMoPa">@antoineMoPa</a>, <a href="https://shadergif.com/user/Iona">@Iona</a>) 11 non-posting users or hacker bots.</li>
			</ul>
		</p>
		
		<h2 class="subtitle">What are some considerations when making gifs?</h2>
		<p>
			The ShaderGif editor shows the size of your gifs in kilobytes.<br>
			Making small gifs is an art. To save bandwidth, upload time and encoding time:
			<ul>
				<li>Keep frames count low (around 10 frames). Sometimes you can use a bit more frames for simple gifs with few colors.</li>
				<li>Avoid gradients when possible, because the number of different colors that have to be encoded becomes huge.</li>
				<li>Simple black and white gifs can be surprisingly tiny.</li>
			</ul>
			<br>
			If you need hundreds of frames of something you just coded to share it outside of ShaderGif, downloading the zip and making a video is a better option.
		</p>

		<h2 class="subtitle">Contributing and sending feedback</h2>
		<p>To create github issues <a href="https://github.com/antoineMoPa/shadergif/issues/new">github.com/antoineMoPa/shadergif/issues</a><br>
		</p>

		<p>
			To contribute to the code and documentation:
			<a href="https://github.com/antoineMoPa/shadergif">
				github.com/antoineMoPa/shadergif
			</a>
		</p>
		
		<h2 class="subtitle">Start Coding</h2>
		<p>
			If you never used shaders before, you will get more pointers in the documentation (<a href="https://doc.shadergif.com/">doc.shadergif.com</a>)
			<br><br>
			
			Or just try it:<br><br>
			<a class="button" href="/editor/examples">
				<img class="feather-icon" src="/icons/feather/clipboard.svg">
				Start with sample code
			</a>
		</p>
		
		<br>
		<% if !user_signed_in? %>
			<div class="has-text-centered">
				<p class="has-text-weight-bold">Don't have an account yet?</p>
				<p>With an account, you can post public gifs and save drafts.</p>
				<br>
				<a class="button" href="/users/sign_up">
					<img class="feather-icon" src="/icons/feather/user-plus.svg">
					Sign up!
				</a>
			</div>
		<% end %>
	</section>
</div>

