<section class="section">
	<div class="container">
		<h2 class="title has-text-centered">Last uploaded gifs</h2>
		<% for gif in @gifs %>
			<div class="content has-text-centered">
				<strong class="subtitle"><%= gif.title %></strong>
				<p><%= gif.description %></p>
				<img src="/gifs/<%= gif.image_filename%>">
			</div>
		<% end %>
	</div>
</section>
