<script type="application/json" id="main-gifs-json">
	<%= raw(@gifs) %> 
</script>
<% if !user_signed_in? %>
	<div class="home-description">
		<p>
			Shadergif allows you to create gifs using the GLSL language. Have fun browsing & coding! It's <span title="read: free software, also">open source: <a href="https://github.com/antoineMoPa/shadergif">github</a>
		</p>
	</div>
<% end %>
<div id="main-app">
	<section class="section">
		<div class="container">
			<h1 class="title has-text-centered">Last uploaded gifs</h1>
			<image-box-list v-bind:gifs="gifs"></image-box-list>
			<br>
			<div class="has-text-centered">
				<button v-if="has_more"
							  v-on:click="load_more"
							  class="button is-large"
				>
					view more
				</button>
				<div v-else>
					No more gifs to load!
				</div>
			</div>
		</div>
	</section>
</div>
