<script type="application/json" id="main-gifs-json">
	<%= raw(@gifs) %> 
</script>
<script type="application/json" id="mosaic-gifs-json">
	<%= raw(@mosaic_gifs) %> 
</script>
<% if !user_signed_in? %>
	<div class="home-description">
		<p>
			Shadergif allows you to create gifs using the GLSL language. Have fun browsing & coding! It's <span title="read: free software, also">open source: <a href="https://github.com/antoineMoPa/shadergif">github</a>
		</p>
	</div>
<% end %>
<div id="main-app">
	<section class="section">
		<div class="container">
			<div class="columns">
				<div class="column is-one-fifth">
				</div>
				<div class="column">
					<h1 class="title has-text-centered">Last uploaded gifs</h1>
					<image-box-list v-bind:gifs="gifs"></image-box-list>
					<br>
					<div class="has-text-centered">
						<button v-if="has_more"
								v-on:click="load_more"
								class="button is-large"
						>
							view more
						</button>
						<div v-else>
							No more gifs to load!
						</div>
					</div>
				</div>
				<div class="column is-one-fifth">
                    <div class="home-sidebar-spacer"></div>
					<p class="has-text-weight-bold">Last gifs</p>
                    <image-mosaic v-bind:gifs="mosaic_gifs"></image-mosaic>
					<div class="home-sidebar-spacer"></div>
					<p class="has-text-weight-bold">Bridge tutorial</p>
					<p>
						View the very first shadergif tutorial:
					</p>
					<br>
					<p class="has-text-centered">
						<a href="https://doc.shadergif.com/tutorials/building-a-bridge/">
							<img alt="bridge" src="/images/tutorials/bridge.png">
							<br>		
							<span class="button">view</span>
						</a>
					</p>
					<br>
					<p>Send feedback to <a href="https://github.com/antoineMoPa/shadergif/issues/new">github.com/antoineMoPa/shadergif/issues</a><br>
					</p>
					<br>
					<br>
					<p class="has-text-weight-bold">Documentation</p>
					<p>
						Want to get started with shaders in GLSL?<br>
						Start with:
						<a href="https://doc.shadergif.com/">
							doc.shadergif.com
						</a>
					</p>
					<br>
					<br>
					<p class="has-text-weight-bold">Contribute code!</p>
					<p>
						Want to help with shadergif's code?<br>
						We are on
						<a href="https://github.com/antoineMoPa/shadergif">
							<strong>github</strong>
						</a>!
						<a href="https://github.com/antoineMoPa/shadergif">
							github.com/antoineMoPa/shadergif
						</a>
						<br>
						Give stars and fork!
					</p>
				</div>
			</div>
		</div>
	</section>
</div>
