<div class="content pricing-page">
	<section class="section">
		<h2 class="title">Pricing</h2>
		<table class="pricing-box">
			<tr>
				<td class="pricing-row pricing-row-title">
					Free
				</td>
				<td class="pricing-row pricing-row-title">
					Not free
				</td>
			</tr>
			<tr>
				<td class="pricing-row">
					<ul>
						<li>Code<br></li>
						<li>Make Gifs<br></li>
					</ul>
				</td>
				<td class="pricing-row">
					<ul>
						<li>All free features<br></li>
					</ul>
				</td>
			</tr>
			<tr>
				<td class="pricing-row has-text-centered">
					<a class="button" href="/users/sign_up">
						<img class="feather-icon" src="/icons/feather/user-plus.svg">
						Sign up!
					</a>
				</td>
				<td class="pricing-row has-text-centered">
					Does not exist yet!
				</td>
			</tr>
		</table>
		<p>
			Currently, everything is free.<br>
			Later, all current features will remain free.<br><br>
			However, some potential new features that require heavy server load or other specific "pro" features may have a price.<br>
			We might even allow coders to sell tweakable versions of their code to movie/game designers/artists/buisnesses.<br>
			We could all benefit from ShaderGif making some money!
			<br><br>
			But, calm down, we are not there yet. Just create an account and make nice gifs for now. Who knows, they could be valuable later!
			<span class="has-text-info">*</span>
			<br><br>
			
		</p>
		<br><br><br>
		<p><span class="has-text-info">*</span>
			Every gif has value in itself. You might have had fun making them, you might have learned something.<br>
			Don't just make gifs for a potential compensation.
		</p>
	</section>
	<section class="section">
		<h2 class="title">Install your own ShaderGif</h2>
		<p>
			It is free to install your personal ShaderGif server&nbsp;:
		</p>
		<p>
			See the project on <a href="https://github.com/antoineMoPa/shadergif">github</a>.
		</p>
	</section>
</div>
