<div class="content pricing-page">
	<section class="section">
		<h2 class="title">Pricing</h2>
		<p>Free.</p>
	</section>
	<section class="section">
		<h2 class="title">Install your own ShaderGif</h2>
		<p>
			It is free to install your personal ShaderGif server&nbsp;:
		</p>
		<p>
			See the project on <a href="https://github.com/antoineMoPa/shadergif">github</a>.
		</p>
	</section>
</div>
