<script type="application/json" id="main-gifs-json">
	<%= raw(@gifs) %> 
</script>
<div id="search-app" class="search-page">
	<section class="section">
		<div class="container">
			<h1 class="title has-text-centered">Search Results</h1>
			<image-box-list v-bind:gifs="gifs"></image-box-list>
			<div class="has-text-centered view-more-container">
				<div v-if="gifs.length == 0">
					No gifs found for your keyword...
				</div>
				<button v-else-if="has_more"
								   v-on:click="load_more"
								   class="button is-large"
				>
					view more
				</button>
				<div v-else>
					No more gifs to load!
				</div>
			</div>
		</div>
	</section>
</div>
