<div>
	<div class="settings dimensions has-text-centered">
		<label class="label">
			Dimensions
		</label>
		<p>
			<span v-if="lang != 'p5js'">
				w:<input type="number" name="width" v-model.number="width">
				h:<input type="number" name="height" v-model.number="height">
			</span>
			<span v-else>
				<input type="hidden" name="width" v-model="width">
				<input type="hidden" name="height" v-model="height">
			</span>
			fps:<input type="number"
					   min="1"
					   max="100"
					   title="between 1 and 100"
					   name="fps"
					   v-model.number="fps">
			frames:<input type="number"
						  name="frames"
						  v-if="!frames_defined_in_code"
						  v-model.lazy.number="frames">
			<span v-if="frames_defined_in_code"
				  title="(defined in code)">
				{{ frames }}
			</span>
			<!-- br fixes an issue with save button having transparent part over buttons -->
			<br><br>
		</p>
	</div>
</div>
