<section class="section">
	<div class="container">
		<h1 class="title has-text-centered"><%= @error %></h1>
		<p><%= @error_long %></p>
		<br>
		<br>
		<a onclick="window.history.back()">
			<button class="button">
				Go back!
			</button>
		</a>
	</div>
</section>

