<section class="section">
	<div class="content">
		<div class="columns">
			<div class="column">
				<h1>Shaders (GLSL)</h1>
				<h2 class="title">Basic shapes examples</h2>
				<p>
					<ul>
						<li>
							<a href="/editor/?file=examples/circle.glsl?v=3">circle.glsl</a>
						</li>
						<li>
							<a href="/editor/?file=examples/square.glsl?v=3">square.glsl</a>
						</li>
					</ul>
				</p>
				<h2 class="title">WebGL1 examples</h2>
				<p>
					For older computers that don't support WebGL2.
					<ul>
						<li>
							<a href="/editor/?file=examples/circle_webgl1.glsl?v=3">circle_webgl1.glsl</a>
						</li>
						
					</ul>
				</p>
				<h2 class="title">Basic animated examples</h2>
				<p>
					<ul>
						<li>
							<a href="/editor/?file=examples/rotating_square.glsl?v=3">rotating_square.glsl</a>
						</li>
						<li>
							<a href="/editor/?file=examples/animated_sine.glsl?v=3">animated_sine.glsl</a>
						</li>
					</ul>
				</p>		
				<h2 class="title">Advanced examples</h2>
				<p>
					<ul>
						<li>
							<a href="/editor/?file=examples/bridge.glsl?v=3">bridge.glsl</a>
						</li>
						<li>
							<a href="/editor/?file=examples/jellyfish.glsl?v=3">jellyfish.glsl</a>
						</li>
						<li>
							<a href="/editor/?file=examples/rio.glsl?v=3">rio.glsl</a>
						</li>
						<li>
							<a href="/editor/?file=examples/shadertoy_compatible.glsl?v=3">shadertoy_compatible.glsl</a>
						</li>
						<li>
							<a href="/editor/?file=examples/multipass.glsl?v=3">multipass.glsl</a>
						</li>
						<li>
							<a href="/editor/?file=examples/draw_fire.glsl?v=3">draw_fire.glsl</a>
						</li>
						<li>
							<a href="/editor/?file=examples/raymarching.glsl?v=3">raymarching.glsl</a>
						</li>
						<li>
							<a href="/editor/?file=examples/raymarching_basic_shading.glsl?v=3">raymarching_basic_shading.glsl</a>
						</li>
					</ul>
				</p>
				<p>
					Found a shader compilation problem in an example? Report the problem on github:
					<a href="https://github.com/antoineMoPa/shadergif/issues">ShaderGif Issues on github</a>
				</p>
				<p>
					Please include the fix if you know it!
				</p>
				<p>
					The vast amount of different devices, graphics chips and operating systems using webgl makes it possible to find a vast array of shader problems.
				</p>
			</div>
			<div class="column">
				<h1>Javascript</h1>
				<h2 class="title">Basic shapes examples</h2>
				<p>
					<ul>
						<li>
							<a href="/editor/?file=examples/circle.example.js?v=3">circle.js</a>
						</li>
						<li>
							<a href="/editor/?file=examples/square.example.js?v=3">square.js</a>
						</li>
					</ul>
				</p>
			</div>
		</div>
	</div>
</section>
