<div class="selector-page">
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column">
					<h1 class="title">Select Language</h1>
				</div>
			</div>
			<div class="columns language-selector">
				<div class="column">
					<a href="/editor/?file=examples/circle.example.js?v=3">
						<div class="language-box">
							<img src="/icons/languages-js.svg">
							<br>Javascript
						</div>
					</a>
				</div>
				<div class="column">
					<a href="/editor/?file=examples/circle_webgl1.glsl?v=3">
						<div class="language-box">
								<img src="/icons/languages-glsl-100.svg">
								<br>GLSL 1.00 (webgl1)
						</div>
					</a>
				</div>
				<div class="column">
					<a href="/editor/?file=examples/circle.glsl?v=3">
						<div class="language-box">
							<img src="/icons/languages-glsl-300.svg">
							<br>GLSL 3.00 (webgl2)
						</div>
					</a>
				</div>
            </div>
        </div>
    </section>
</div>
