
<script type="application/json" id="profile-gifs-json">
	<%= raw(@gifs) %> 
</script>
<div id="profile-app">
	<section class="section">
		<div class="container">
			<h1 class="title has-text-centered"><%= @user.username %></h1>
			<image-box-list v-bind:gifs="gifs"></image-box-list>
		</div>
	</section>
</div>
