@media all and (min-width:540px){
	.image-container{
		width:540px;
	}
}

@media all and (max-width:540px){
	.image-container{
		width:100%;
		.video{
			height:auto;
		}
	}
}

.image-box{
	padding-top:10px;
	box-shadow:0 0 4px rgba(0,0,0,0.1);
	background:#fff;
	border-radius:3px;
}


.image-code{
	box-shadow:0 0 30px rgba(0, 0, 0, 0.3);
	position:relative;
	
	.close-image-code{
		position:absolute;
		top:5px;
		right:10px;
		cursor:pointer;
	}
}

.gif-description{
	background:transparent;
	max-width:540px;
	white-space: pre-wrap !important;
	margin:auto;

	.code{
		padding:3px;
		margin-top:0;
		margin-bottom:0;
	}
	.bold{
		font-weight:bolder;
	}
	.italic{
		font-style:italic;
	}
	.backticks{
		background:#efefef;
		padding:3px;
	}
	.token{
		color:#4444aa;
	}
}

.gif-subtitle{
	line-height:66px;
	float:left;
	margin-left:10px;
	padding-left:20px;
	text-align:center;
}

.profile-box{
	float:left;
}

.title-box{
	margin:10px;
	height:66px;
	margin-bottom:10px;
}

.comment{
	background:#f6f6f6;
	border-radius:3px;
	padding:10px;
	margin-bottom:10px;
}

.comment-date{
	float:right;
	font-size:10px;
}
