@media all and (min-width:540px){
	.image-container{
		width:540px;
	}
}

@media all and (max-width:540px){
	.image-container{
		width:100%;
		.video{
			height:auto;
		}
	}
}

.image-box{
	padding-top:10px;
	box-shadow:0 0 4px rgba(0,0,0,0.1);
	background:#fff;
	border-radius:3px;
	

	.night-mode &{
		background:#171c1d;
		a{
			color:#6ebcff;
		}
	}
}


.image-code{
	box-shadow:0 0 30px rgba(0, 0, 0, 0.3);
	position:relative;
	
	.close-image-code{
		position:absolute;
		top:5px;
		right:10px;
		cursor:pointer;
	}
}

.gif-description{
	background:transparent;
	max-width:540px;
	white-space: pre-wrap !important;
	margin:auto;

	.night-mode &{
		color:#eeeeee;
	}

	.code{
		padding:3px;
		margin-top:0;
		margin-bottom:0;
	}
	.bold{
		font-weight:bolder;
	}
	.italic{
		font-style:italic;
	}
	.backticks{
		background:#efefef;
		padding:3px;
	}
	.token{
		color:#4444aa;
	}
}

.gif-subtitle{
	line-height:66px;
	float:left;
	margin-left:10px;
	padding-left:20px;
	text-align:center;
}

@media all and (min-width:768px) {
	.profile-box{
		float:right;
		line-height:66px;
	}
	.by-author{
		display:none;
	}
}

.title-box{
	margin:10px;
	height:66px;
	margin-bottom:10px;
}

.comment{
	background:#f6f6f6;
	border-radius:3px;
	padding:10px;
	margin-bottom:10px;

	.night-mode &{
		color:#000;
	}
}

.comment-date{
	float:right;
	font-size:10px;
}

.by-author{
	font-size:10px;
}

@media all and (max-width:768px){
	.image-box{
		.profile-username{
			line-height:20px;
			font-size:12px;
			text-align:center;
			line-height:25px;
		}
		.profile-picture{
			width:25px;
			height:25px;
			position:relative;
			top:10px;
		}
		.gif-subtitle{
			font-size:14px;
			line-height:15px;
		}
		.gif-subtitle,
		.profile-box{
			width:100%;
			text-align:center;
			padding:0;
			margin:0;
			margin-left:0;
			margin-right:0;
		}
		.gif-subtitle{
			a{
				font-size:110%;
			}
			width:100%;
		}
		.title-box{
			margin:0;
		}
		.button{
			margin-top:10px;
			width:100%;
		}
		.close-image-code{
			width:auto;
		}
	}
}

.home-page{
	.image-code{
		max-width:717px; 
	}
}
