
//= require ./bulma/css/bulma.css
//= require ./devise.scss
//= require ./gif.scss
//= require ./home.scss
//= require ./notifications.scss
//= require lib/prism/prism.css
//= require ./components/image_box.css
//= require ./components/image_mosaic.css
//= require ./components/shader_player.css
//= require ./prism-tweaks.scss

html,body,document,window,.notifications-section{
	min-height:100%;
}

.navbar{
	box-shadow: 0 0 3px rgba(0,0,0,0.3);
}

.notification-container{
	margin-top:20px;
	margin-bottom:20px;
}

.feather-icon{
	margin-right:5px;
	width:18px;
	margin-top:1px;
}

.navbar-search{
	margin-top:7px;
	display:inline-block;
	width:200px;
	border:none;
}

.navbar-search-submit{
	display:inline-block;
	margin-top:7px;
}

.profile-box{
	padding:8px;
	border-radius:3px;
	height:66px;
	display: inline-block;
}

.profile-picture{
	border-radius:50%;
	width:50px;
	height:50px;
	box-shadow:0 0 10px rgba(0,0,0,0.3);
	background:#eee;
}

@media all and (min-width:768px) {
	.profile-picture{
		float:none;
	}
}

.profile-picture-form .profile-picture{
	width:200px;
	height:200px;
	float:none;
}

@media all and (min-width:768px) {
	.profile-username{
		line-height:50px;
		margin-left:10px;
		position: relative;
		top:-18px;
	}
	.profile-picture{
		margin-left:20px;
		position: relative;
		top: 18px;
	}
}

.clearfix{
	clear:both;
}

.view-more-container{
	margin-top:20px;
}

.language-selector{
	background:red;
	background: #e0e0e0;
	padding:30px;
	border-radius:3px;
	margin-top:20px;
}

.language-box{
	background: #ffffff;
	padding:20px;
	text-align:center;
	border-radius:3px;
	line-height:60px;
	font-size:30px;
	transition:all 0.1s;
}

.language-box:hover{
	box-shadow:0 0 10px rgba(0,0,0,0.3);
}

html{
	background:#141414;
}

body{
	background:#fff;
}

body.night-mode{
 	color:#e0dfe3;
	background: #141414;
	height:100%;
}

a.navbar-item{
	padding-right: 5px;
	padding-left: 5px;
}

.night-mode {

	.title,
	.subtitle,
	.label{
 		color:#e0dfe3;
	}

	@media all and (max-width: 1024px){
		#main-mobile-menu{
			background:#333!important;
			
			a.navbar-item,
			a.navbar-item:hover,
			a.navbar-item.is-active,
			a.navbar-link:hover,
			a.navbar-link.is-active{
				background:#333!important;
			}
		}
	}
	
	.button,
	a.button{
		background:#333333;
		color:#eee;
		border:none;
	}
	
	.button:hover{
		background:#444444;
		color:#eee;
	}
	
	.input{
		background:#222222;
		color:#ccc;
	}
	
	.navbar-search::placeholder{
		color:#aaa;
	}
	
	strong, .has-text-weight-bold{
		color:#ffffff;
	}

	.navbar-search{
		background:#111111;
	}

	.navbar{
		background:#171c1d;
		color:#e0dfe3;
	}

	.navbar a,
	.navbar a.navbar-item.is-active{
		color: #e0dfe3;
	}
	
	a.navbar-item:hover{
		background:#171c1d;
		color: #e0dfe3;
	}

	.feather-icon{
		filter: invert(100%);
	}

	.button.is-primary{
		background: #337744;
	}
}

.examples-page{
	max-width:1100px;
	margin:auto;
}

