
//= require ./bulma/css/bulma.css
//= require ./devise.scss
//= require ./gif.scss
//= require ./home.scss
//= require lib/prism/prism.css
//= require ./components/image_box.css
//= require ./components/image_mosaic.css
//= require ./components/shader_player.css

.navbar{
	box-shadow: 0 0 3px rgba(0,0,0,0.3);
}

.notification-container{
	margin-top:20px;
	margin-bottom:20px;
}

.feather-icon{
	margin-right:5px;
	width:18px;
	margin-top:1px;
}
