//= require ./application.css
//= require lib/codemirror/lib/codemirror.css
//= require lib/codemirror/addon/dialog/dialog.css
//= require lib/codemirror/addon/search/matchesonscrollbar.css
// Todo: remove base.css, legacy editor css library my antoineMoPa
//= require base.css

body{
    padding:0;
    margin:0;
    max-width:100%;
    overflow-x:hidden;
    font-family:sans-serif;
}

html, body, window{
	overflow-y:hidden;
	max-height:100%;
	height:100%;
}

.navbar-burger{
	margin-right:0;
}

header{
    background: #35a;
    margin:0;
    width:100%;
    height:40px;
	position:absolute;
	z-index:1000;
}

.app-status{
	position:absolute;
	z-index:100;
	bottom:50px;
	left:20px;
	min-width:300px;
	background:#ffffff;
	color:#111;
	box-shadow:0 0 10px rgba(0,0,0,0.3);
	border-radius:3px;
	padding:20px;
}

.examples-page header{
    position:static;
}

.examples-page p,
.examples-page h2{
    margin-left:20px;
}

h1,h2,h3{
    margin-top:20px;
    margin-bottom:20px;
    font-weight:300;
}    

h1{
    font-size:20px;
    font-weight:300;
    display:inline-block;
    padding:0;
    margin:0;
    margin-left:10px;
    margin-right:20px;
    color:#fff;
    line-height:40px;
}

header a{
    color:#fff;
    text-decoration:none;
}

p,pre,ul{
    margin-left:10px;
}

.inline-block{
    display:inline-block;
    vertical-align:top;
    margin:0;
}

textarea{
    height:auto;
    font-size:15px;
}

.error-pre{
    margin:10px 20px;
    padding:10px;
    font-size:15px;
    color:red;
    z-index:2000;
	background:#eee;
}

.mathjs-message-area{
	margin:10px 20px;
	width:140px;
	margin:auto;
	margin-top:0;
	text-align:center;
    padding:10px;
	color:#333;
	background:#eee;
}

.gif-canvas{
    margin-bottom:20px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

button{
    display:block;
    margin:auto;
    border:none;
    background:#3af;
	border-radius:2px;
    color:#fff;
    padding:8px;
    font-size:16px;
    cursor:pointer;
	box-shadow:0 0 5px rgba(0,0,0,0.1);
	transition:all 0.3s;
	&:hover{
		box-shadow:0 0 5px rgba(0,0,0,0.3);
	}
}

.result-images img{
    display: block;
    margin: auto;
    margin-top:20px;
    margin-bottom:20px;
    max-height:600px;
    background:#f3f3f3;
}

hr{
    margin-top:20px;
    color:#eee;
    width:60%;
}

.vertical-scroll-parent{
    max-height:100%;
	height:100%;
	height:calc( 100% - 30px );
	max-height:calc( 100% - 30px );
	overflow:hidden;
	
}

.vertical-scroll{
	padding-left:0;
	padding-right:0;
	min-height:100%;
    max-height:100%;
    overflow-y:scroll;
}

.vertical-scroll-spacer{
    height:40px;
    clear:both;
}

@media all and (min-width:768px){
	.column.limit-width-desktop{
        max-width:50%;
    }
	.CodeMirror{
        max-width:100%;
    }
}

@media all and (max-width:768px){
    body{
        overflow-y:scroll;
    }
    canvas,img{
        max-width:100%;
    }
	.vertical-scroll{
        max-height:none;
        overflow-y:scroll;
    }
    .vertical-scroll-parent{
        max-height:none;
		height:auto;
		overflow-y:scroll;
    }
}

.settings{
    margin-left:10px;
	margin-right:10px;
    font-size:14px;
    line-height:44px;

	p{
		line-height:25px;
	}
}

.settings input{
    width:50px;
    font-size:12px;
    margin-left:3px;

	&[type=file]{
		width:auto;
	}
}

.texture-info-pre{
	line-height:20px;
	color:#333;
	font-size:14px;
}

.new-texture-input{
	margin-left: 10px;
	button, input{
		max-width: 75%;
		display: inline-block;
	}
}

.textures-list{
	background: #eee;
	margin-right: 10px;
	input{
		width:auto;
	}
	
	li{
		padding-left:10px;
		padding-right:10px;
		&:nth-child(2n+1){
			background:#f8f8f8;
		}
	}
}

.delete-texture-button{
	display:inline-block;
	margin-left:10px;
}

.settings input[type=number]{
	min-width:60px;	
    height:30px;
}

.mathjs-pre{
	padding-top:0;
	padding-bottom:0;
}

/* CODEMIRROR */

.CodeMirror{
    height:100%;
    height:calc(100% - 30px);
    font-size:15px;
}

.errorline{
    background:#fdd;
    color:#f00;
}

/* END CODEMIRROR */

/* UI */

.foldable{
	margin:20px;
	box-shadow:0 0 2px rgba(0,0,0,0.2);
}

.foldable-header{
	background:#3af;
	padding: 10px;
	color:#fff;
	position:relative;
	border-radius:2px;
	box-shadow:0 0 5px rgba(0,0,0,0.1);
}

/* icon */

.foldable-header:after{
	content:" ";
	width:16px;
	height:16px;
	border: 1px solid #fff;
	position:absolute;
	top:13px;
	right:10px;
	transition:all 0.3s;
}

.foldable-hidden .foldable-header:after{
	transform: rotateZ(45deg);
}

.foldable-hidden .foldable-content{
	display:none;
}

.foldable-content{
	padding-top:10px;
	padding-bottom:10px;
}

.result-image{
	box-shadow:0 0 3px rgba(0, 0, 0, 0.3);
	padding:20px;
	position:relative;
	
	.close-result-button{
		position:absolute;
		top:8px;
		right:8px;
		color:#444;
		font-size:10px;
		cursor:pointer;

		&:hover{
			text-shadow:0 0 3px rgba(0,0,0,0.2);
		}
	}
}

.result-images form{
    margin:10px; 
}

.draft-management{
    padding-left: 10px;
    padding-right: 10px;
}

/* END UI*/
