// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home-description{
	display:flex;
	justify-content: center;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:10px;
	padding-right:10px;
	background:#f3f3f3;
	color:#444;

	a{
		color:#3af;
		text-decoration:underline;
	}
}

@media all and (min-width:1000px){

	.home-sidebar,
	.news-block{
		padding:20px;
		margin-right:20px;
		margin-left:20px;
		box-shadow:0 0 5px rgba(0,0,0,0.2);
		border-radius:3px;
		margin-bottom:20px;
	}

	
    .home-page{	   
		background:	URL('../images/banner.png');
		background-repeat:no-repeat;
		background-size:130% auto;
    }
}

.home-page .column{
	background:#fff;
}

.news{
	max-width:580px;
	margin:auto;

	.title{
		font-size:20px;
		color:#555;
		margin-left:15px;
	}
	
	.image-box{
		margin-bottom: 20px;
		padding-bottom: 20px;
		border-bottom: 4px solid rgba(0,0,0,0.1);
	}
}

