// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home-description{
	display:flex;
	justify-content: center;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:10px;
	padding-right:10px;
	background:#f3f3f3;
	color:#444;

	a{
		color:#3af;
		text-decoration:underline;
	}
}

@media all and (min-width:1000px){

	.home-sidebar,
	.news-block{
		padding:20px;
		margin-right:20px;
		margin-left:20px;
		box-shadow:0 0 5px rgba(0,0,0,0.2);
		border-radius:3px;
		margin-bottom:20px;
	}
}

.home-page .home-sidebar,
.home-page .news-block,
.home-page .title{
	background:#fff;

	.night-mode & {
		background:#171c1d;
		color:#eeeeee;
	}
}

.home-sidebar{
	overflow: hidden;
	overflow-wrap: break-word;
	.button{
		width:100%;
		text-align:left;
	}
}

.home-news{
	padding-top: 0px;
}

@media all and (max-width:768px){
	.section{
		padding-top:30px;
	}
}

.about-page,
.pricing-page{
	max-width:1000px;
	margin:auto;

	img{
		border-radius:4px;
		box-shadow:0 0 15px rgba(255,255,255,0.2);
	}

	.video-container{
		text-align:center;
	}

	.smaller-screenshot{
		max-width:700px;
	}
}


.pricing-page{
	.pricing-box{
		margin:auto;
		max-width:400px;
		color:#000;
		overflow:hidden;
		
		.pricing-row{
			padding:10px;
			background:#fff;
			border-top:20px solid #fff;
			border-bottom:20px solid #fff;

			&:nth-child(1){
				background:#eee;
				border-top:20px solid transparent;
				border-bottom:20px solid transparent;
			}
		}

		.pricing-row-title{
			font-size:150%;
			font-weight:700;
			text-align:center;
		}
	}
}
