// Place all the styles related to the Notifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.notification-count,{
	background: #FF4433 !important;
	border-radius:3px;
	padding-left:4px;
	padding-right:4px;
	min-width:20px;
	text-align:center;
	color:#fff;
}

.notification-count.no-notifications{
	background: #EEEEEE !important;
	color: #333!important;
}

.notification{
	border-left:3px #444;
}

.notification-text{
	text-decoration: none;
	.night-mode &{
		color:#333;
	}
}

.notification a.notification-date{
	margin-left:auto;
	margin-right:0;
	float:right;
	color:#333;
}

.notification.is-unread{
	background:#25a4ff;
	color:#fff;
	a.notification-date{
		color:#fff;
	}
}
