// Place all the styles related to the Notifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.notification-count{
	background: #FF4433;
	border-radius:3px;
	padding-left:4px;
	padding-right:4px;
	min-width:20px;
	text-align:center;
	color:#fff;
}

.notification-count.no-notifications{
	background: #EEEEEE;
	color: #333;
}

.notification{
	border-left:3px #444;
}

.notification-text{
	text-decoration: none;
}

.notification-date{
	margin-left:auto;
	margin-right:0;
	float:right;
}