.token.comment{
    background: transparent !important;
    padding:0;
}

body{
    tab-size:4;
}

.token.number, .token.operator, .token.entity, .token.url, .language-css .token.string, .style .token.string{
    background:none;
    padding:0;
    font-size:inherit;
    line-height:inherit;
    margin:0;
    height:auto;
}
