.token.comment{
	background: transparent !important;
	padding:0;
}

body{
	tab-size:4;
}

.token.operator, .token.entity, .token.url, .language-css .token.string, .style .token.string{
	background:none;
}
